@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #040506;
  color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  overflow-x: hidden;
}



#header {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(255, 34, 34, 1) 0%, rgba(255, 136, 105, 1) 44%, rgba(255, 139, 0, 1) 100%);
  align-items: center;
}

#details {
  margin: 4rem;
  width: 50vw;
  font-size: 18px;
}

#headerDetails {
  font-style: italic;
}

#imageHeader {
  margin: auto;
  width: 50vw;
}


@keyframes waveEffect {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


h1.waveTitle span {
  display: inline-block;
  animation: waveEffect 3s ease-in-out infinite; 
  opacity: 1;
  background: linear-gradient(180deg, rgba(255, 34, 34, 1) 0%, rgba(255, 136, 105, 1) 44%, rgba(255, 139, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

h1.waveTitle {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  margin: 20px 0;
  text-align: center;
  color: #FF6F00; 
  text-shadow: 2px 2px 5px rgba(255, 87, 34, 0.7); 
  word-spacing: 10px; 
  white-space: nowrap; 
}


.newAlbumSongCover {
  width: 200px;
  height: 200px;
}

.coverSol {
  background-color: #040506;
  border-radius: 12px;
  padding: 0 20px;
  width: fit-content;
}

#canvas {
  margin: 0 auto;
  display: block;
  filter: url('#shadowed-goo');
}

#albumCoverContainer {
  margin: 2rem;
}

#albumCover {
  border-radius: 8px;
  width: 500px;
}


.listenNow {
  background-color: #040506;
  padding: 1rem 4rem;
  border: none;
  border-radius: 8px;
}

.textBtn {
  color:  #FFF;
  font-size: larger;
  font-weight: bold;
}

#header {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(255, 34, 34, 1) 0%, rgba(255, 136, 105, 1) 44%, rgba(255, 139, 0, 1) 100%);
  align-items: center;
}

#details {
  margin: 4rem;
  width: 50vw;
  font-size: 18px;
}

#headerDetails {
  font-style: italic;
}

#imageHeader {
  margin: auto;
  width: 50vw;
}


input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease, opacity .4s ease;
  cursor: pointer;
}

.container {
  width: 80%;
  height: 80%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  
  align-items: center;
  margin: auto;
}

.cards {
  position: relative;
  width: 700px;
  height: 250px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.newsong-container{
  display: flex;
  width: 90%;
  margin: 4rem auto;
  justify-content: space-around;
  margin-top: 2rem;
  img{
    height: 250px;
    width: 250px;
  }
}

#statsSection{
  padding: 1rem 4rem;
  background-color: white;
}

#stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: auto;
  width: 80%;
}

#stat {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#stat img {
  width: 64px;
  height: 64px;
}

#statsText {
  color: #040506;
  font-size: 1.5rem;
  font-weight: bold;
}

#lastAlbumInfo h1{
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(180deg, rgba(255, 34, 34, 1) 0%, rgba(255, 136, 105, 1) 44%, rgba(255, 139, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#lastAlbumInfo{
  width: 60%;
}

.lastAlbumContainer{
  padding: 1rem 0 0 4rem;
  position: relative;
}

.lastAlbum-carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  transform-style: preserve-3d;
}

.lastAlbum-cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastAlbum-card {
  position: absolute;
  width: 40%;
  height: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s ease, opacity 0.4s ease;
  cursor: pointer;
}

.lastAlbum-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}


#album-1:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(1),
#album-2:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(2),
#album-3:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(3) {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 2;
}

#album-1:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(2),
#album-2:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(3),
#album-3:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(1) {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 1;
}

#album-1:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(3),
#album-2:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(1),
#album-3:checked ~ .lastAlbum-cards .lastAlbum-card:nth-child(2) {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 1;
}


input[type="radio"] {
  display: none;
}

.pressReviewContainer{
  padding: 0 4rem;
  width: 80%;
  h1{
    background: linear-gradient(180deg, rgba(255, 34, 34, 1) 0%, rgba(255, 136, 105, 1) 44%, rgba(255, 139, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#reviewContainer{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: 300px;
}

.review{
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

#reviewAuthor{
  font-size: 2rem;
}

#albumCoverContainer{
  margin: 2rem;
}

#albumCover{
  border-radius: 8px;
  width: 500px;
}

#aboutAlbum {
  padding-left: 4rem;
  padding-top: 4rem;
}

#aboutArtist {
  padding-top: 4rem;
  padding-left: 4rem;
}

video {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}


.circlesContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: -1; 
}

.circle {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 5px solid #F86C25;
  border-radius: 50%;
  position: absolute;
  top: 5%;
}

.one {
  animation: circle 4s infinite linear;
}

.two {
  animation: circle 3s infinite linear;
}

.three {
  animation: circle 2s infinite linear;
}

@keyframes circle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(6);
  }
}

#albumButtons {
  gap: 50px;
  margin-top: 20px;
}

.refreshButton {
  background-color: #fff;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.buyButton {
  background-color: black;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 200px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
}

.badv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
